:root {
    --text: white;

    --accent: #7B00FF;
    --accent-match: #201926;
    --accent-1: #392a46;
    --accent-2: #ff9aff;

    --shadx: 0;
    --shady: 0;

    --gradient: 
      #ff9aff,
        #dc67fb,
         #c64efb,
          #ab33fc,
           #942ae9, 
           #7d21d6, 
           #6618c3, 
           #551d98, 
           #441f70, 
           #331d49, 
           #201926;

    --gradient-dark:
        #7b00ff,
         #7119d9,
          #6623b5,
           #5a2892, 
           #4d2a70,
            #45295f,
             #3c284e, 
             #33263e, 
             #2e2338,
              #291f32;
}

.nav {
    --nav-accent: #7b00ff00;
      animation: 1s ease-out 0s 1 slidetop;
    --nav-background: rgba(255, 255, 255, 0);
    --nav-background-light: rgba(240, 240, 240, 0);
    --nav-text: rgb(255, 255, 255);
    --nav-shadow: rgba(0,0,0,0);
    background-color: var(--nav-background);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 20px var(--nav-shadow), 0px 2px var(--nav-accent);
    height: 85px;
    transition: all .6s ease;
    z-index: 99999;
}

.nav-scrolled {
    --nav-background: rgba(255, 255, 255, 0.97);
    --nav-background-light: rgba(240, 240, 240, 0.9);
    --nav-text: rgb(0, 0, 0);
    --nav-shadow: rgba(0,0,0,0.3);
    --nav-accent: #7B00FF;
    height: 60px;
}

/* .chevron {
    position: absolute;
}

.chevron::before {
    content: '';
    position: absolute;
    display: block;
    border-bottom: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    height: 6px;
    width: 6px;
    margin-top: 5px;
    margin-left: 45px;
    transform: rotate(45deg);
    transition: transform .6s cubic-bezier(.75,-0.72,.27,1.68);
} */

.logo {
    margin: 0;
    font-size: 3rem;
}

.logo a {
    text-decoration: none;
    color: var(--accent);
    text-shadow: 
    -2px 2px 8px rgba(0, 0, 0, 0.3), 
    -7px 7px 4px rgba(0, 0, 0, 0.2), 
    -1px 1px 1px var(--accent),
    -2px 2px 1px  var(--accent),
    -3px 3px 1px  var(--accent),
    -4px 4px 1px  var(--accent),
    -5px 5px 1px  var(--accent);
    transition: text-shadow .5s ease;
}

.logo a:hover {
    text-shadow: 
    -2px 2px 8px rgba(0, 0, 0, 0.3), 
    -7px 7px 4px rgba(0, 0, 0, 0.2), 
    -1px 1px 1px var(--accent),
    -2px 2px 1px  var(--accent),
    -3px 3px 1px  var(--accent),
    -4px 4px 1px  var(--accent),
    -5px 5px 1px  var(--accent),
    -6px 6px 1px var(--accent),
    -7px 7px 1px var(--accent);
    cursor: pointer;
}

.nav-checkbox {display: none;}

.nav-checkbox-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2em;
    color: var(--nav-text);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2.5px 2.5px 2.5px 2.5px;
}

.nav-checkbox-label span {
    display: block; 
    position: relative;
    height: 1px;
    width: 1rem;
    transition: transform .4s cubic-bezier(.7,-0.79,.33,1.8);
}

.nav-checkbox-label span::before,
.nav-checkbox-label span::after {
    display: block;
    background-color: var(--nav-text);
    height: 1px;
    width: 1rem;
    border-radius: 0;
    position: relative;
}

.nav-checkbox-label span::before,
.nav-checkbox-label span::after {
    content: '';
    position: absolute;
    transition: transform .4s cubic-bezier(.7,-0.79,.33,1.8),bottom .3s ease .1s, top .3s ease .1s;
}

.nav-checkbox-label span::before {bottom: .2rem;}
.nav-checkbox-label span::after {top: .2rem;}


.nav-bar {
    transition: transform .3s ease, opacity .4s ease, .6s ease;
    position: absolute;
    text-align: left;
    left: 0;
    opacity: 0;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 200px;
    border-radius: 5px 5px 15px 10px;
    box-shadow: inset 0px 0px 20px black;
    transform: translateX(-100%);
}

.nav-links-scrolled {
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
}

.nav-bar ul {list-style: none; height: 100%; position: relative;}

.nav-bar li {
    display: block;
    margin-block: 1rem;
    transition: margin-top .3s ease-in-out .18s;
    height: 100%;
    position: relative;
}

.nav-bar a {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 0;
    font-size: 1rem;
    padding: 0;
    transition: opacity .2s ease-in-out,text-shadow .5s ease, transform .3s ease;
    transform: scale(1,1);
}

.nav-bar a:hover {
    cursor: pointer;
}

.nav-bar > ul > li:nth-child(2) > a::before {
    content: '';
    position: absolute;
    display: block;
    border-bottom: 2px solid var(--nav-text);
    border-right: 2px solid var(--nav-text);
    height: 6px;
    width: 6px;
    margin-top: 0px;
    margin-left: 45px;
    bottom: 40%;
    transform: rotate(45deg);
    transition: transform .75s cubic-bezier(.75,-0.72,.27,1.68);
}

.nav-bar ul > li:nth-child(2):hover a::before {transform: rotate(225deg);}

@media screen and (max-width: 849px) {
    /* .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .nav-bar {
        box-shadow: inset 0px 8px 6px -6px rgba(0, 0, 0, 0.2), 0px 4px 14px -5px rgba(0, 0, 0, 0.3),inset 0px 2px var(--accent);
    }

    .active a::before {  
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        bottom: -21px;
        background-color: var(--accent);
        opacity: .6;
        transform: scaleX(1);
        transition: transform .4s cubic-bezier(.42,.06,.19,1.04);
        transition-delay: .15s;}

    .nav-bar ul > li::after {
        content: '';
        position: absolute;
        display: block;
        width: 55%;
        bottom: 135%;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    }

    .nav-bar ul > li:nth-child(1)::after {
        border-bottom: 0;
    }

    .nav-bar a {color: black;}

    .nav-bar > ul > li:nth-child(2) > a::before {
        border-bottom: 2px solid black;
        border-right: 2px solid black;
    }

    .nav-bar a::after {background-color: black;}

    .nav-bar ul ul {
        position: absolute;
        padding: 0;
        margin-top: 0rem;
        margin-left: 1.25rem;
        opacity: 0;
        transform: scale(1,0);
        transform-origin: start;
        transition: opacity .2s ease, transform .2s ease-in-out;
        transition-delay: .18s;
    }

    .nav-bar ul ul li {
        padding: 0;
        margin: 0;
        margin-block: 1.25rem;
    }

    .nav-bar ul ul li::after {
        border-bottom: 0;
    }

    .nav-bar ul ul a:first-child {padding-top: 2px;}

    .nav-bar ul li:hover ul, .nav-bar ul ul:hover ul{transform: scale(1,1); opacity: 1;}
    .nav-bar ul li:nth-child(2):hover ~ li.margin-hover{margin-top: 6.25rem;}

    .nav-checkbox:checked ~ .nav-bar {transform: scale(1,1) translateX(0);
    opacity: 1;
    }
    .nav-checkbox:checked ~ .nav-bar a {opacity: 1;}

    .nav-checkbox:not(:checked):hover ~ .nav-checkbox-label span::before {bottom: .35rem;}

    .nav-checkbox:not(:checked):hover ~ .nav-checkbox-label span::after{top: .35rem;}

    .nav-checkbox:checked ~ .nav-checkbox-label span::before {
        transform: rotate(45deg)
        ;bottom: 0rem;
    }

    .nav-checkbox:checked ~ .nav-checkbox-label span::after {
        transform: rotate(-45deg);
        top: 0rem;
    }
    .nav-checkbox:checked:hover ~ .nav-checkbox-label span {transform: scale(1.25);}
}

@media screen and (min-width: 850px) {
    .nav-checkbox-label {display: none}

    .nav {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) .5fr;
        border-radius: 0px 0px 7px 7px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-bar {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-bar ul {
        display: flex;
        opacity: 1;
        margin: 0;
        padding: 0;
    }

    .nav-bar li {
        margin: 0;
        padding: 0;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar a{
        margin: 0;
        opacity: 1;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        color: var(--nav-text);
    }

    .nav-bar > ul > li:nth-child(2) > a {padding-bottom: 0px;padding-right: 2.5rem;}
    
    .nav-bar ul > li:last-child {margin-bottom: 0px;}

    .nav-bar ul ul {
        position: absolute;
        display: block;
        background-color: white;
        top: 100%;
        width: 110px;
        height: fit-content;
        border-radius: 0px 0px 25px 10px;
        padding: 15px 5px 5px 5px;
        margin-left: 4rem;
        box-shadow: inset 0px 8px 6px -6px rgba(0, 0, 0, 0.2), 0px 4px 14px -5px rgba(0, 0, 0, 0.3), inset 0px 2px var(--accent);
        opacity: 0;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform .3s ease, opacity .45s ease;
        transition-delay: .2s;
    }

    .nav-bar ul ul li {
        margin-left: 8px;
        justify-content: flex-start;
        padding: 2px 2px 2px 2px;
    }

    .nav-bar ul ul a {
        padding: 0;
        padding-bottom: 20px;
        padding-top: 2px;
        margin: 0;
        opacity: 0;
        transition: opacity .5s ease, transform .4s ease;
        transition-delay: .1s;
        color: black;
    }

    .nav-bar ul ul .active a::before {  
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        bottom: -21px;
        background-color: var(--accent);
        opacity: .6;
        transform: scaleX(1);
        transition: transform .4s cubic-bezier(.42,.06,.19,1.04);
        transition-delay: .15s;}

    .nav-bar ul ul a::after {background-color: black;}

    .nav-bar ul li:hover ul {transform: scale(1,1); opacity: 1;}

    .nav-bar ul li:hover a {opacity: 1;}

    .nav-bar ul ul:hover {opacity: 1; transform: scale(1,1);}
}


.hero {
    position: relative;
    top: -6.5vh;
    height: 112vh;
    background: linear-gradient(to right top, var(--gradient-dark));
    background-size: 250%;
    transform: skewY(-3deg);
    /* animation: bg-anim 25s infinite alternate; */
    box-shadow: 0 -3px 20px rgb(0, 0, 0), inset 0px -2px 1px black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0px 0px 10px 10px;
}

.header-spacer { height: 30vh; transform: skewY(3deg); }

.hero-container {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    height:  50vh;
    display: grid;
    position: relative;
    transform: skewY(3deg);
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 2.3rem;
}

.hero-text h1{
    padding: 0;
    margin: 0;
    color: white;
    animation: 1.5s ease 0s 1  slideleft;
}

.hero-text span {
    display: inline-block;
    transition: color .25s ease, text-shadow .25s ease;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2), 
    1px 1px rgba(30, 30, 30, 0.2),
    2px 2px rgba(30, 30, 30, 0.2),
    3px 3px rgba(30, 30, 30, 0.2),
    4px 4px rgba(30, 30, 30, 0.2),
    5px 5px rgba(30, 30, 30, 0.2);
}

.hero-text .m-shadow {
    text-shadow:  2px 2px 5px rgba(0, 0, 0, .8),
    1px 1px 0 var(--accent-2), 
    2px 2px 1px  var(--accent-2),
    3px 3px 1px  var(--accent-2),
    4px 4px 1px  var(--accent-2);
}

.bigger-span {font-size: 2.25rem;line-height: 3rem;}

.smaller-span {font-size: 1.3rem;line-height: 3.75rem;}

.hero-sub-txt {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: right;
}   

.hero-sub-txt div {
    color: white;
    font-size: 16rem;
    font-weight: bolder;
    text-shadow: calc(var(--shadx) * .2) calc(var(--shady) * .2) 20px rgba(0, 0, 0, .35),
    calc(var(--shadx) * .1) calc(var(--shady) * .1) 0px var(--accent-2),
    calc(var(--shadx) * .2) calc(var(--shady) * .2) 1px var(--accent-2), 
    calc(var(--shadx) * .3) calc(var(--shady) * .3) 2px var(--accent-2), 
    calc(var(--shadx) * .4) calc(var(--shady) * .4) 2px var(--accent-2), 
    calc(var(--shadx) * .5) calc(var(--shady) * .5) 2px var(--accent-2), 
    calc(var(--shadx) * .6) calc(var(--shady) * .6) 2px var(--accent-2), 
    calc(var(--shadx) * .7) calc(var(--shady) * .7) 2px var(--accent-2), 
    calc(var(--shadx) * .8) calc(var(--shady) * .8) 2px var(--accent-2), 
    calc(var(--shadx) * .9) calc(var(--shady) * .9) 1px var(--accent-2),
    calc(var(--shadx) * 1) calc(var(--shady) * 1) 0px var(--accent-2),  
    0 20px 100px rgba(0, 0, 0, 0.1);
    /* transform-style: preserve-3d; */
    animation: 1.5s ease 0s 1  slideInFromRight-m;
    transition: all 75ms linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@keyframes bg-anim {
    0% {background-position: left;}
    100% {background-position: right;}
}


@media screen and (min-width: 850px) {
    .hero-container {grid-template-columns: .125fr 1fr  1fr .25fr;}

    .hero-text {grid-column: 2; text-align: left;}

    .hero-sub-txt {grid-column: 3;}

    .hero-sub-txt div {font-size: 20rem}

    .bigger-span {font-size: 2.5rem;line-height: 3rem;}

    .smaller-span {font-size: 1.4rem;line-height: 3.5rem;}
}

@media screen and (min-width: 980px) {
    .bigger-span {font-size: 3.5rem;line-height: 3.5rem;}

    .smaller-span {font-size: 1.5rem;line-height: 3.5rem;}
}