:root {
    --text: white;

    --accent: #7B00FF;
    --accent-match: #201926;
    --accent-1: #392a46;
    --accent-2: #ff9aff;

    --shadx: 0;
    --shady: 0;

    --gradient: 
      #ff9aff,
        #dc67fb,
         #c64efb,
          #ab33fc,
           #942ae9, 
           #7d21d6, 
           #6618c3, 
           #551d98, 
           #441f70, 
           #331d49, 
           #201926;

    --gradient-dark:
        #7b00ff,
         #7119d9,
          #6623b5,
           #5a2892, 
           #4d2a70,
            #45295f,
             #3c284e, 
             #33263e, 
             #2e2338,
              #291f32;
}

@keyframes slideleft {
    0% {transform: translateX(-100%); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

  @keyframes slideright {
    0% {transform: translateX(100%); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}
  
  @keyframes slideInFromRight-m {
    0% {transform: translateX(100%) rotateZ(-20deg) rotateY(20deg) rotateX(25deg); opacity: 0;}
    100% {transform: translateX(0) rotateZ(0deg) rotateY(0deg) rotateX(0deg); opacity: 1;}
}
  
  @keyframes slidetop {
    0% {transform: translateY(-100%); opacity: 0;
    }
    100% {transform: translateX(0); opacity: 1;}
}

@keyframes slidebottom{
    0% {transform: translateY(100%); opacity: 0;
    }
    100% {transform: translateX(0); opacity: 1;}
}


@keyframes squish {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25,.75,1);
    }

    40% {  transform: scale3d(0.75, 1.25,1);
    }

    50% {
        transform: scale3d(1.15, 0.85,1);
    }
    65% {
        transform: scale3d(.95,1.05,1);
    }
    75% {
        transform: scale3d(1.05,.95,1);
    }
}

  
*,
*::before,
*::after {box-sizing: border-box;}

* a::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    top: 1px;
    background-color: var(--nav-text);
    transform: scaleX(0);
    transition: transform .4s cubic-bezier(.42,.06,.19,1.04);
    transition-delay: .15s;
  }

* a:hover::after {transform: scaleX(1);}


body {
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff 50%,
    #fafafabe 50%,
    #fafafabe
    );
    /* The rectangle in which to repeat. 
    It can be fully wide in this case */
    background-size: 100% 6px;
    opacity: 0;
    transition: opacity 1s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
    transition: color .35s ease;
}

span:hover {
    color: var(--accent-2);
    cursor:default;
}

span.animation{
    animation: squish 1s ease;
    color: var(--accent-2);
}

.container {margin-top: 15rem;
    margin-bottom: 15rem;}

.skew {
    transform: skewY(-3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
}

.un-skew{
    transform: skewY(3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.white > *{
    color: white;
}

.black > * {
    color: black;
}

.bg-container {
    background: linear-gradient(to right top, var(--gradient));
    background-size: 650%;
    background-position: -500px 0;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .5), 0 -3px 30px rgba(0, 0, 0, .5), 
    inset 0 3px 50px rgba(0, 0, 0, .2), inset 0 -3px 50px rgba(0, 0, 0, .2);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1vw;
}

.layer{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
}

.content-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.title {
    line-height: 2.5;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4),
    1px 1px rgba(0, 0, 0, 0.2),
    2px 2px rgba(0, 0, 0, 0.2),
    3px 3px rgba(0, 0, 0, 0.2),
    4px 4px rgba(0, 0, 0, 0.2),
    5px 5px rgba(0, 0, 0, 0.2),
    1px 1px 2px rgba(0, 0, 0, 1);
    animation: slidebottom 1.5s ease;
}


.content {
    margin-left: 2rem;
    margin-right: 2rem;
    z-index: 1;
    opacity: 0;
    transform: translateY(15vh);
    visibility: hidden;
    transition: opacity 1s ease, transform 1.5s ease;
}

.visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.content > * a {
    text-decoration: none;
    color: var(--accent-2);
    display: inline-block;
    position: relative;
}

.content h3,
.content p {
    font-weight: 100;
}

.content h3 {
    font-size: 1.5rem;
}


.content p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.para-1,
.para-2,
.para-3,
.para-4,
.para-5,
.para-6,
.para-7 {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 7.5rem;
    position: relative;
    letter-spacing: 1px;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out all .5s ease;
}

.para-1 .image-container,
.para-2 .image-container,
.para-3 .image-container,
.para-4 .image-container,
.para-5 .image-container,
.para-6 .image-container,
.para-7 .image-container {
    margin-bottom: 2.5rem;
}

.para-1 p,
.para-2 p,
.para-3 p,
.para-4 p,
.para-5 p,
.para-6 p,
.para-7 p{
    font-weight: 100;
    font-size: .9rem;
}

.para-1 a::after,
.para-2 a::after,
.para-3 a::after,
.para-4 a::after,
.para-5 a::after,
.para-6 a::after, 
.para-7 a::after{
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    top: -3px;
    background-color: white;
    transform: scaleX(0);
    transition: transform .4s cubic-bezier(.42,.06,.19,1.04);
    transition-delay: .15s;
}

.para-1 a:hover::after,
.para-2 a:hover::after,
.para-3 a:hover::after,
.para-4 a:hover::after,
.para-5 a:hover::after,
.para-6 a:hover::after,
.para-7 a:hover::after {transform: scaleX(1);}

.image-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 175px;
    height: 175px;
    background-color: rgba(27, 27, 27, 0.6);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.55);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: all .5s ease;
}

.image:hover {
    background-color: rgba(27, 27, 27, 0.35);
    /* transform: scaleX(1.1); */
    
}

.image h3 {
    text-shadow: 1px 1px 0px black,
    -1px -1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black;
    font-size: 1.2rem;
    font-weight: bolder;
    position: absolute;
}

.web-dev,
.python,
.hobbies,
.midkent-logo,
.campus,
.employ,
.education,
.courses,
.education,
.courses,
.apply {
    width: 175px;
    height: 175px;
    transition: all .5s ease, transform .6s cubic-bezier(0.5, .2, .15, 3);
}

.web-dev:hover,
.python:hover,
.hobbies:hover,
.midkent-logo:hover,
.campus:hover,
.employ:hover,
.education:hover,
.courses:hover,
.education:hover,
.courses:hover,
.apply:hover {
    transform: scaleX(1.05) scaleY(0.975);
    cursor: pointer;
}
.web-dev {
    background-image: url(../images/html.jpg);
    background-size: 155%;
    background-repeat: no-repeat;
    background-position: -10px 5px;
    border-radius: 50%;
}

.python {
    background-image: url(../images/python.jpg);
    background-size: 155%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.hobbies {
    background-image: url(../images/hobbies.jpg);
    background-size: 160%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.midkent-logo {
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../images/midkent-logo.jpg);
    background-size: 85%;
    background-position: 13px 25px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.campus {
    background-image: url(../images/campus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.employ {
    background-image: url(../images/employ.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.education {
    background-image: url(../images/educate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.courses {
    background-image: url(../images/courses.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.apply {
    background-image: url(../images/apply.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.campus .image {
    background-color: rgba(27, 27 , 27, 0.5);
}

.campus .image:hover {
    background-color: rgba(27, 27 , 27, 0.3);
}

.midkent-logo .image {background-color: transparent;}

.midkent-logo .image:hover {background-color: rgba(255, 255, 255, 0.2);}
@media screen and (min-width: 850px) {
    .title {
        margin-top: 5rem;
        margin-bottom: 5rem;
        font-size: 3rem;
    }

    .content {
        margin-left: 3rem;
        margin-right: 3rem;
        transition: opacity 0.2s ease, transform .25s ease;
    }

    .web-dev,
    .python,
    .hobbies,
    .midkent-logo,
    .campus,
    .employ,
    .education,
    .courses,
    .education,
    .courses,
    .apply {
        width: 250px;
        height: 250px;
    }

    .image {
        width: 250px;
        height: 250px;
    }

    .midkent-logo {
        background-color: rgba(255, 255, 255, 0.8);
        background-image: url(../images/midkent-logo.jpg);
        background-size: 85%;
        background-position: 17px 25px;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    .image h3 {
        font-size: 1.75rem;
    }

    .para-1,
    .para-2,
    .para-3,
    .para-4,
    .para-5,
    .para-6,
    .para-7 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 10rem;
        position: relative;
        letter-spacing: 1px;
        transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    }

    .para-1 p,
    .para-2 p,
    .para-3 p,
    .para-4 p,
    .para-5 p,
    .para-6 p,
    .para-7 p{
        font-size: 1.1rem;
        font-weight: lighter;
    }


    .para-1 .image-container,
    .para-3 .image-container,
    .para-5 .image-container,
    .para-7 .image-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 3;
        /* opacity: .2; 
        transform: translateX(20vw);
        visibility: hidden;  */
    }

    /* .para-1 .image-container .visible,
    .para-3 .image-container .visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    } */

    .para-1 .text,
    .para-3 .text,
    .para-5 .text,
    .para-7 .text {
        grid-column: 1 / span 2 ;
        display: flex;
        justify-content: center;
        align-items: center;
        /* opacity: .2; 
        transform: translateX(-20vw);
        visibility: hidden;  */
    }

    /* .para-1 .text .visible,
    .para-3 .text .visible{
        opacity: 1;
        transform: none;
        visibility: visible;
    } */

    .para-2 .image-container,
    .para-4 .image-container,
    .para-6 .image-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 1;
        /* opacity: .2;
        transform: translateX(-20vw);
        visibility: hidden; */
    }

    /* .para-2 .image-container .visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    } */

    .para-2 .text,
    .para-4 .text,
    .para-6 .text {
        grid-column: 2/4;
        display: flex;
        justify-content: center;
        align-items: center;
        /* opacity: .2;
        transform: translateX(20vw);
        visibility: hidden; */
    }

    /* .para-2 .text .visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    } */

}

.shadow {filter: drop-shadow(0 -3px 20px rgba(0, 0, 0, 0.5));}

.footer {
    --footer-text: rgba(255, 255, 255, 1);
    background-color: var(--accent);
    clip-path: polygon(0% 6vw, 101% 0, 101% 100%, 0 100%);
    padding: 1rem 1rem;
    z-index: 1;
}

.footer a:hover {
    cursor: pointer;
}

.footer::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    bottom: 0;
    background-color: rgb(30, 30, 30);
    -webkit-clip-path: polygon(0% 6vw, 101% 0, 101% 100%, 0 100%);
    clip-path: polygon(0% 6vw, 101% 0, 101% 100%, 0 100%);
    z-index: -2;
    
}

.footer a::after {background-color: var(--footer-text);}

.logo a::after {background-color: rgba(255, 255, 255, 0)}

.top {
    margin-top: 5vw;
    margin-bottom: 1rem
}

.top .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.1rem;
    font-weight: bolder;
}


.socials {
    margin-right: 12px;
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.socials a{
    color: var(--footer-text);
    text-decoration: none;
    font-size: 1.25rem;
}

.socials a::after {
    background: transparent;
}

.fa {
    padding: 10px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-twitter,
.fa-instagram,
.fa-facebook {
    background-image: linear-gradient( #ffffff, #ffffff);
    background-repeat: no-repeat;
    background-position: 2px;
    background-position-x: 0px;
    transition: background-size .4s ease .15s, color .15s ease .18s;
    background-size: 100% 0%;
}

.fa-twitter:hover,
.fa-instagram:hover,
.fa-facebook:hover {
    background-size: 100% 100%;
    color: rgb(0, 0, 0);
}

.bottom {margin-top: 1rem; position: relative;}

.bottom::after {
    content: '';
    position: absolute;
    width: 60%;
    background: linear-gradient(to right, rgb(30, 30, 30),rgba(255, 255, 255, 0.4),rgb(30, 30, 30));
    height: 1px;
    top: -.5rem;
    left: 20%;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.contact,
.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.contact a{
    text-align: center;
    text-decoration: none;
    color: var(--footer-text);
}

.newsletter a {text-align: center; color: var(--footer-text);}

.copyright{display: flex; justify-content: center;margin-top: 1rem;}

.copyright p{font-size: .75rem; color: rgba(255, 255, 255, 0.4);}
